<template>
  <v-app id="inspire">

    <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Your websites
          </v-list-item-title>
          <v-list-item-subtitle>
            Uptime {{ dashboard.uptime }}%
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
      <v-list class="mt-0" dense>
        <template v-for="website in websites">
          <website-list-item :key="website.id" :website="website"></website-list-item>
          <v-divider :key="'divider-' + website.id"></v-divider>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>gp-website-monitor</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row>
          <v-col class="text-center mt-4" cols="12">
            <h2>Hello!</h2>
            <p>You won't find anything interesting here except for the list on the left in the side menu. Work in progress.</p>
            <v-progress-circular
                :size="35"
                :width="4"
                indeterminate
            ></v-progress-circular>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

  </v-app>
</template>

<script>
import MiniChart from "./MiniChart";
import WebsiteListItem from "./WebsiteListItem";

export default {
  components: {WebsiteListItem, MiniChart},
  mounted() {
    this.loadInitialData();
  },
  data: () => ({
    drawer: null,
    websites: [],
    dashboard: {}
  }),
  methods: {

    loadInitialData: function() {
      this.loadDashboard();
      this.loadWebsites();
    },

    loadWebsites: function() {
      this.$http.get('/api/websites?page=1&perPage=10').then(
          response => {
            this.websites = response.data['collection'];
          }, response => {
            // error callback
          });
    },

    loadDashboard: function() {
      this.$http.get('/api/dashboard').then(
          response => {
            this.dashboard = response.data;
          }, response => {
            // error callback
          });
    }
  }
}
</script>