<template>
  <div class="mini-chart">

    <v-tooltip v-for="con in website.last15Connections" :key="i" bottom>
      <template v-slot:activator="{ on, attrs }">
        <div :class="{'bar': true, 'danger': !con.valid}"
             v-bind="attrs"
             v-on="on"
        ></div>
      </template>
      <span>[{{ con.status }}] {{ con.executionTime }}ms</span>
    </v-tooltip>

  </div>
</template>

<script>
export default {
  props: ['website']
}
</script>