<template>
  <v-list-item link class="website-list-item">
    <v-list-item-content>

      <v-list-item-subtitle class="mt-1">
        {{ website.url }}
      </v-list-item-subtitle>

      <div class="mt-2">
        <mini-chart :website="website"></mini-chart>
      </div>

      <v-row
          no-gutters
          justify="space-between"
          align="center"
      >

        <v-chip
            class="mt-2 mb-1"
            color="grey"
            text-color="grey"
            small
            outlined
        >
          <v-avatar class="mr-0" left>
            <v-icon>mdi-arrow-up-bold</v-icon>
          </v-avatar>
          {{ website.uptime }}%
        </v-chip>

        <v-tooltip v-if="!website.upFor24Hours" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-chip
                class="mt-2 mb-1"
                color="#ff3f34"
                text-color="#ff3f34"
                small
                outlined
                v-bind="attrs"
                v-on="on"
            >
              <v-icon>mdi-exclamation-thick</v-icon>
            </v-chip>
          </template>
          <span>{{ website.lastErrorDate }}</span>
        </v-tooltip>

        <v-tooltip v-else bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-chip
                class="mt-2 mb-1"
                color="grey"
                text-color="grey"
                small
                outlined
                v-bind="attrs"
                v-on="on"
            >
              <v-icon>mdi-check-bold</v-icon>
            </v-chip>
          </template>
          <span>No failed requests in last 24h.</span>
        </v-tooltip>

        <v-chip
            class="mt-2 mb-1"
            color="grey"
            text-color="grey"
            small
            outlined
        >
          <v-avatar class="mr-0" left>
            <v-icon>mdi-clock-outline</v-icon>
          </v-avatar>
          {{ website.averageResponseTime }} ms
        </v-chip>

      </v-row>

    </v-list-item-content>
  </v-list-item>
</template>

<script>
import MiniChart from "./MiniChart";

export default {
  components: {MiniChart},
  props: ['website']
}
</script>