.mini-chart {
    display: flex;
    height: 1em;

    justify-content: space-between;
    align-items: center;

    .bar {
        position: relative;
        width: 10px;
        height: 10px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #05c46b;
            transition: background-color 0.4s;
        }

        &:hover {
            &:before {
                background-color: #05c46b;
            }
        }

        &.danger {
            &:before {
                border-color: rgb(255, 63, 52);
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 40%;
                border-radius: 50%;
                background-color: rgb(255, 63, 52);
            }

            &:hover {
                &:before {
                    background-color: rgb(255, 63, 52);
                }
            }
        }
    }
}